GCP_PROJECT_ID=
GCP_REGION=asia-southeast2
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/secrets/service-account.json

GCS_BUCKET=
GCS_RAW_PATH=
GCS_STAGING_LOCATION=
GCS_TEMP_LOCATION=

BQ_DATASET_RAW=
BQ_DATASET_STAGING=
BQ_DATASET_INTERMEDIATE=
BQ_DATASET_MARTS=

PUBSUB_TOPIC=
PUBSUB_SUBSCRIPTION=
DATAFLOW_BATCH_JOB_PREFIX=
DATAFLOW_STREAM_JOB_PREFIX=

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=your_secure_password

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=your_secure_password
AIRFLOW_DB_NAME=airflow